---
import { Image } from "astro:assets";
import troubleshootImage from "../assets/images/troubleshooting_img.webp";
import rightArrowIcon from "../assets/images/right-arrow-icon.svg";
---

<section
  class="flex flex-col items-center h-full scroll-mt-24 pb-10"
  id="projects"
>
  <p
    class="text-center text-lg md:text-xl font-textSemiBold text-transparent bg-gradient-to-r from-shopify-dark to-shopify-light bg-clip-text"
  >
    Projects
  </p>
  <h2
    class="text-balance text-center text-gray-800 text-3xl md:text-4xl font-display my-5 max-w-80"
  >
    Some Of My Works
  </h2>
  <section
    class="flex flex-col items-center h-min w-11/12 gap-y-2 min-[911px]:w-4/5 mt-14"
  >
    <div class="flex justify-center items-start">
      <div class="w-2/5 h-full">
        <Image
          src={troubleshootImage}
          alt="Screenshot of Sartorial Store Project"
        />
      </div>
      <div class="w-3/5 h-full">
        <h3>Sartorial Store</h3>
        <div>
          <span>Liquid</span>
          <span>HTML</span>
          <span>CSS</span>
          <span>JQuery</span>
        </div>
        <div>
          <p>
            Store made completely from scratch. No template was used and no
            starting point. Created every file and every folder there is,
            following always the best practices for Shopify Theme Development.
            Cool features like sliders, metafield-based sections, and more.
          </p>
          <div>
            <a
              href="https://github.com"
              class="inline-flex justify-start items-center w-auto h-auto py-2 px-5 bg-gradient-to-b from-black to-gray-800 rounded-xl cursor-pointer group"
            >
              <div class="relative block w-7 mr-3 overflow-hidden">
                <svg
                  class="inline-block ml-[5px] transition-transform duration-300 group-hover:translate-x-full text-lg"
                  viewBox="0 0 20 20"
                  version="1.1"
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  fill="#000000"
                  stroke="#000000"
                  ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
                    id="SVGRepo_tracerCarrier"
                    stroke-linecap="round"
                    stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier">
                    <title>github [#142]</title>
                    <desc>Created with Sketch.</desc>
                    <defs> </defs>
                    <g
                      id="Page-1"
                      stroke="none"
                      stroke-width="1"
                      fill="none"
                      fill-rule="evenodd"
                    >
                      <g
                        id="Dribbble-Light-Preview"
                        transform="translate(-140.000000, -7559.000000)"
                        fill="#ffffff"
                      >
                        <g
                          id="icons"
                          transform="translate(56.000000, 160.000000)"
                        >
                          <path
                            d="M94,7399 C99.523,7399 104,7403.59 104,7409.253 C104,7413.782 101.138,7417.624 97.167,7418.981 C96.66,7419.082 96.48,7418.762 96.48,7418.489 C96.48,7418.151 96.492,7417.047 96.492,7415.675 C96.492,7414.719 96.172,7414.095 95.813,7413.777 C98.04,7413.523 100.38,7412.656 100.38,7408.718 C100.38,7407.598 99.992,7406.684 99.35,7405.966 C99.454,7405.707 99.797,7404.664 99.252,7403.252 C99.252,7403.252 98.414,7402.977 96.505,7404.303 C95.706,7404.076 94.85,7403.962 94,7403.958 C93.15,7403.962 92.295,7404.076 91.497,7404.303 C89.586,7402.977 88.746,7403.252 88.746,7403.252 C88.203,7404.664 88.546,7405.707 88.649,7405.966 C88.01,7406.684 87.619,7407.598 87.619,7408.718 C87.619,7412.646 89.954,7413.526 92.175,7413.785 C91.889,7414.041 91.63,7414.493 91.54,7415.156 C90.97,7415.418 89.522,7415.871 88.63,7414.304 C88.63,7414.304 88.101,7413.319 87.097,7413.247 C87.097,7413.247 86.122,7413.234 87.029,7413.87 C87.029,7413.87 87.684,7414.185 88.139,7415.37 C88.139,7415.37 88.726,7417.2 91.508,7416.58 C91.513,7417.437 91.522,7418.245 91.522,7418.489 C91.522,7418.76 91.338,7419.077 90.839,7418.982 C86.865,7417.627 84,7413.783 84,7409.253 C84,7403.59 88.478,7399 94,7399"
                            id="github-[#142]"
                          >
                          </path>
                        </g>
                      </g>
                    </g>
                  </g>
                </svg>
                <svg
                  class="absolute max-w-7 left-0 top-0 transition-transform duration-300 -translate-x-full group-hover:translate-x-0 text-lg"
                  viewBox="0 0 20 20"
                  version="1.1"
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  fill="#000000"
                  stroke="#000000"
                  ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
                    id="SVGRepo_tracerCarrier"
                    stroke-linecap="round"
                    stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier">
                    <title>github [#142]</title>
                    <desc>Created with Sketch.</desc>
                    <defs> </defs>
                    <g
                      id="Page-1"
                      stroke="none"
                      stroke-width="1"
                      fill="none"
                      fill-rule="evenodd"
                    >
                      <g
                        id="Dribbble-Light-Preview"
                        transform="translate(-140.000000, -7559.000000)"
                        fill="#ffffff"
                      >
                        <g
                          id="icons"
                          transform="translate(56.000000, 160.000000)"
                        >
                          <path
                            d="M94,7399 C99.523,7399 104,7403.59 104,7409.253 C104,7413.782 101.138,7417.624 97.167,7418.981 C96.66,7419.082 96.48,7418.762 96.48,7418.489 C96.48,7418.151 96.492,7417.047 96.492,7415.675 C96.492,7414.719 96.172,7414.095 95.813,7413.777 C98.04,7413.523 100.38,7412.656 100.38,7408.718 C100.38,7407.598 99.992,7406.684 99.35,7405.966 C99.454,7405.707 99.797,7404.664 99.252,7403.252 C99.252,7403.252 98.414,7402.977 96.505,7404.303 C95.706,7404.076 94.85,7403.962 94,7403.958 C93.15,7403.962 92.295,7404.076 91.497,7404.303 C89.586,7402.977 88.746,7403.252 88.746,7403.252 C88.203,7404.664 88.546,7405.707 88.649,7405.966 C88.01,7406.684 87.619,7407.598 87.619,7408.718 C87.619,7412.646 89.954,7413.526 92.175,7413.785 C91.889,7414.041 91.63,7414.493 91.54,7415.156 C90.97,7415.418 89.522,7415.871 88.63,7414.304 C88.63,7414.304 88.101,7413.319 87.097,7413.247 C87.097,7413.247 86.122,7413.234 87.029,7413.87 C87.029,7413.87 87.684,7414.185 88.139,7415.37 C88.139,7415.37 88.726,7417.2 91.508,7416.58 C91.513,7417.437 91.522,7418.245 91.522,7418.489 C91.522,7418.76 91.338,7419.077 90.839,7418.982 C86.865,7417.627 84,7413.783 84,7409.253 C84,7403.59 88.478,7399 94,7399"
                            id="github-[#142]"
                          >
                          </path>
                        </g>
                      </g>
                    </g>
                  </g>
                </svg>
              </div>
              <div class="relative block overflow-hidden">
                <span
                  class="inline-block transition-transform duration-300 group-hover:-translate-y-full text-lg font-textSemiBold text-gray-50"
                  >Code</span
                >
                <span
                  class="absolute left-0 transition-transform duration-300 translate-y-full group-hover:translate-y-0 text-lg font-textSemiBold text-gray-50"
                  >Code</span
                >
              </div>
            </a>
            <a>
              <div>
                <span>See in Detail</span>
                <span>See in Detail</span>
              </div>

              <div class="relative block overflow-hidden">
                <Image
                  src={rightArrowIcon}
                  alt="right arrow icon"
                  class="inline-block ml-[2px] transition-transform duration-300 group-hover:translate-x-full text-lg"
                />
                <Image
                  src={rightArrowIcon}
                  alt="right arrow icon"
                  class="absolute left-0 top-0 transition-transform duration-300 -translate-x-full group-hover:translate-x-0 text-lg"
                />
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="flex justify-center items-start">
      <div class="w-2/5 h-full">
        <Image
          src={troubleshootImage}
          alt="Screenshot of Sartorial Store Project"
        />
      </div>
      <div class="w-3/5 h-full">
        <h3>Sartorial Store</h3>
        <div>
          <span>Liquid</span>
          <span>HTML</span>
          <span>CSS</span>
          <span>JQuery</span>
        </div>
        <div>
          <p>
            Store made completely from scratch. No template was used and no
            starting point. Created every file and every folder there is,
            following always the best practices for Shopify Theme Development.
            Cool features like sliders, metafield-based sections, and more.
          </p>
          <div>
            <a
              href="https://github.com"
              class="inline-flex justify-start items-center w-auto h-auto py-2 px-5 bg-gradient-to-b from-black to-gray-800 rounded-xl cursor-pointer group"
            >
              <div class="relative block w-7 mr-3 overflow-hidden">
                <svg
                  class="inline-block ml-[5px] transition-transform duration-300 group-hover:translate-x-full text-lg"
                  viewBox="0 0 20 20"
                  version="1.1"
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  fill="#000000"
                  stroke="#000000"
                  ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
                    id="SVGRepo_tracerCarrier"
                    stroke-linecap="round"
                    stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier">
                    <title>github [#142]</title>
                    <desc>Created with Sketch.</desc>
                    <defs> </defs>
                    <g
                      id="Page-1"
                      stroke="none"
                      stroke-width="1"
                      fill="none"
                      fill-rule="evenodd"
                    >
                      <g
                        id="Dribbble-Light-Preview"
                        transform="translate(-140.000000, -7559.000000)"
                        fill="#ffffff"
                      >
                        <g
                          id="icons"
                          transform="translate(56.000000, 160.000000)"
                        >
                          <path
                            d="M94,7399 C99.523,7399 104,7403.59 104,7409.253 C104,7413.782 101.138,7417.624 97.167,7418.981 C96.66,7419.082 96.48,7418.762 96.48,7418.489 C96.48,7418.151 96.492,7417.047 96.492,7415.675 C96.492,7414.719 96.172,7414.095 95.813,7413.777 C98.04,7413.523 100.38,7412.656 100.38,7408.718 C100.38,7407.598 99.992,7406.684 99.35,7405.966 C99.454,7405.707 99.797,7404.664 99.252,7403.252 C99.252,7403.252 98.414,7402.977 96.505,7404.303 C95.706,7404.076 94.85,7403.962 94,7403.958 C93.15,7403.962 92.295,7404.076 91.497,7404.303 C89.586,7402.977 88.746,7403.252 88.746,7403.252 C88.203,7404.664 88.546,7405.707 88.649,7405.966 C88.01,7406.684 87.619,7407.598 87.619,7408.718 C87.619,7412.646 89.954,7413.526 92.175,7413.785 C91.889,7414.041 91.63,7414.493 91.54,7415.156 C90.97,7415.418 89.522,7415.871 88.63,7414.304 C88.63,7414.304 88.101,7413.319 87.097,7413.247 C87.097,7413.247 86.122,7413.234 87.029,7413.87 C87.029,7413.87 87.684,7414.185 88.139,7415.37 C88.139,7415.37 88.726,7417.2 91.508,7416.58 C91.513,7417.437 91.522,7418.245 91.522,7418.489 C91.522,7418.76 91.338,7419.077 90.839,7418.982 C86.865,7417.627 84,7413.783 84,7409.253 C84,7403.59 88.478,7399 94,7399"
                            id="github-[#142]"
                          >
                          </path>
                        </g>
                      </g>
                    </g>
                  </g>
                </svg>
                <svg
                  class="absolute max-w-7 left-0 top-0 transition-transform duration-300 -translate-x-full group-hover:translate-x-0 text-lg"
                  viewBox="0 0 20 20"
                  version="1.1"
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  fill="#000000"
                  stroke="#000000"
                  ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
                    id="SVGRepo_tracerCarrier"
                    stroke-linecap="round"
                    stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier">
                    <title>github [#142]</title>
                    <desc>Created with Sketch.</desc>
                    <defs> </defs>
                    <g
                      id="Page-1"
                      stroke="none"
                      stroke-width="1"
                      fill="none"
                      fill-rule="evenodd"
                    >
                      <g
                        id="Dribbble-Light-Preview"
                        transform="translate(-140.000000, -7559.000000)"
                        fill="#ffffff"
                      >
                        <g
                          id="icons"
                          transform="translate(56.000000, 160.000000)"
                        >
                          <path
                            d="M94,7399 C99.523,7399 104,7403.59 104,7409.253 C104,7413.782 101.138,7417.624 97.167,7418.981 C96.66,7419.082 96.48,7418.762 96.48,7418.489 C96.48,7418.151 96.492,7417.047 96.492,7415.675 C96.492,7414.719 96.172,7414.095 95.813,7413.777 C98.04,7413.523 100.38,7412.656 100.38,7408.718 C100.38,7407.598 99.992,7406.684 99.35,7405.966 C99.454,7405.707 99.797,7404.664 99.252,7403.252 C99.252,7403.252 98.414,7402.977 96.505,7404.303 C95.706,7404.076 94.85,7403.962 94,7403.958 C93.15,7403.962 92.295,7404.076 91.497,7404.303 C89.586,7402.977 88.746,7403.252 88.746,7403.252 C88.203,7404.664 88.546,7405.707 88.649,7405.966 C88.01,7406.684 87.619,7407.598 87.619,7408.718 C87.619,7412.646 89.954,7413.526 92.175,7413.785 C91.889,7414.041 91.63,7414.493 91.54,7415.156 C90.97,7415.418 89.522,7415.871 88.63,7414.304 C88.63,7414.304 88.101,7413.319 87.097,7413.247 C87.097,7413.247 86.122,7413.234 87.029,7413.87 C87.029,7413.87 87.684,7414.185 88.139,7415.37 C88.139,7415.37 88.726,7417.2 91.508,7416.58 C91.513,7417.437 91.522,7418.245 91.522,7418.489 C91.522,7418.76 91.338,7419.077 90.839,7418.982 C86.865,7417.627 84,7413.783 84,7409.253 C84,7403.59 88.478,7399 94,7399"
                            id="github-[#142]"
                          >
                          </path>
                        </g>
                      </g>
                    </g>
                  </g>
                </svg>
              </div>
              <div class="relative block overflow-hidden">
                <span
                  class="inline-block transition-transform duration-300 group-hover:-translate-y-full text-lg font-textSemiBold text-gray-50"
                  >Code</span
                >
                <span
                  class="absolute left-0 transition-transform duration-300 translate-y-full group-hover:translate-y-0 text-lg font-textSemiBold text-gray-50"
                  >Code</span
                >
              </div>
            </a>
            <a>
              <div>
                <span>See in Detail</span>
                <span>See in Detail</span>
              </div>

              <div class="relative block overflow-hidden">
                <Image
                  src={rightArrowIcon}
                  alt="right arrow icon"
                  class="inline-block ml-[2px] transition-transform duration-300 group-hover:translate-x-full text-lg"
                />
                <Image
                  src={rightArrowIcon}
                  alt="right arrow icon"
                  class="absolute left-0 top-0 transition-transform duration-300 -translate-x-full group-hover:translate-x-0 text-lg"
                />
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="flex justify-center items-start">
      <div class="w-2/5 h-full">
        <Image
          src={troubleshootImage}
          alt="Screenshot of Sartorial Store Project"
        />
      </div>
      <div class="w-3/5 h-full">
        <h3>Sartorial Store</h3>
        <div>
          <span>Liquid</span>
          <span>HTML</span>
          <span>CSS</span>
          <span>JQuery</span>
        </div>
        <div>
          <p>
            Store made completely from scratch. No template was used and no
            starting point. Created every file and every folder there is,
            following always the best practices for Shopify Theme Development.
            Cool features like sliders, metafield-based sections, and more.
          </p>
          <div>
            <a
              href="https://github.com"
              class="inline-flex justify-start items-center w-auto h-auto py-2 px-5 bg-gradient-to-b from-black to-gray-800 rounded-xl cursor-pointer group"
            >
              <div class="relative block w-7 mr-3 overflow-hidden">
                <svg
                  class="inline-block ml-[5px] transition-transform duration-300 group-hover:translate-x-full text-lg"
                  viewBox="0 0 20 20"
                  version="1.1"
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  fill="#000000"
                  stroke="#000000"
                  ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
                    id="SVGRepo_tracerCarrier"
                    stroke-linecap="round"
                    stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier">
                    <title>github [#142]</title>
                    <desc>Created with Sketch.</desc>
                    <defs> </defs>
                    <g
                      id="Page-1"
                      stroke="none"
                      stroke-width="1"
                      fill="none"
                      fill-rule="evenodd"
                    >
                      <g
                        id="Dribbble-Light-Preview"
                        transform="translate(-140.000000, -7559.000000)"
                        fill="#ffffff"
                      >
                        <g
                          id="icons"
                          transform="translate(56.000000, 160.000000)"
                        >
                          <path
                            d="M94,7399 C99.523,7399 104,7403.59 104,7409.253 C104,7413.782 101.138,7417.624 97.167,7418.981 C96.66,7419.082 96.48,7418.762 96.48,7418.489 C96.48,7418.151 96.492,7417.047 96.492,7415.675 C96.492,7414.719 96.172,7414.095 95.813,7413.777 C98.04,7413.523 100.38,7412.656 100.38,7408.718 C100.38,7407.598 99.992,7406.684 99.35,7405.966 C99.454,7405.707 99.797,7404.664 99.252,7403.252 C99.252,7403.252 98.414,7402.977 96.505,7404.303 C95.706,7404.076 94.85,7403.962 94,7403.958 C93.15,7403.962 92.295,7404.076 91.497,7404.303 C89.586,7402.977 88.746,7403.252 88.746,7403.252 C88.203,7404.664 88.546,7405.707 88.649,7405.966 C88.01,7406.684 87.619,7407.598 87.619,7408.718 C87.619,7412.646 89.954,7413.526 92.175,7413.785 C91.889,7414.041 91.63,7414.493 91.54,7415.156 C90.97,7415.418 89.522,7415.871 88.63,7414.304 C88.63,7414.304 88.101,7413.319 87.097,7413.247 C87.097,7413.247 86.122,7413.234 87.029,7413.87 C87.029,7413.87 87.684,7414.185 88.139,7415.37 C88.139,7415.37 88.726,7417.2 91.508,7416.58 C91.513,7417.437 91.522,7418.245 91.522,7418.489 C91.522,7418.76 91.338,7419.077 90.839,7418.982 C86.865,7417.627 84,7413.783 84,7409.253 C84,7403.59 88.478,7399 94,7399"
                            id="github-[#142]"
                          >
                          </path>
                        </g>
                      </g>
                    </g>
                  </g>
                </svg>
                <svg
                  class="absolute left-0 top-0 transition-transform duration-300 -translate-x-full group-hover:translate-x-0 text-lg"
                  width="28px"
                  height="28px"
                  viewBox="0 0 24 24"
                  version="1.1"
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  fill="#000000"
                  stroke="#000000"
                  ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
                    id="SVGRepo_tracerCarrier"
                    stroke-linecap="round"
                    stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier">
                    <title>github [#142]</title>
                    <desc>Created with Sketch.</desc>
                    <defs> </defs>
                    <g
                      id="Page-1"
                      stroke="none"
                      stroke-width="1"
                      fill="none"
                      fill-rule="evenodd"
                    >
                      <g
                        id="Dribbble-Light-Preview"
                        transform="translate(-140.000000, -7559.000000)"
                        fill="#ffffff"
                      >
                        <g
                          id="icons"
                          transform="translate(56.000000, 160.000000)"
                        >
                          <path
                            d="M94,7399 C99.523,7399 104,7403.59 104,7409.253 C104,7413.782 101.138,7417.624 97.167,7418.981 C96.66,7419.082 96.48,7418.762 96.48,7418.489 C96.48,7418.151 96.492,7417.047 96.492,7415.675 C96.492,7414.719 96.172,7414.095 95.813,7413.777 C98.04,7413.523 100.38,7412.656 100.38,7408.718 C100.38,7407.598 99.992,7406.684 99.35,7405.966 C99.454,7405.707 99.797,7404.664 99.252,7403.252 C99.252,7403.252 98.414,7402.977 96.505,7404.303 C95.706,7404.076 94.85,7403.962 94,7403.958 C93.15,7403.962 92.295,7404.076 91.497,7404.303 C89.586,7402.977 88.746,7403.252 88.746,7403.252 C88.203,7404.664 88.546,7405.707 88.649,7405.966 C88.01,7406.684 87.619,7407.598 87.619,7408.718 C87.619,7412.646 89.954,7413.526 92.175,7413.785 C91.889,7414.041 91.63,7414.493 91.54,7415.156 C90.97,7415.418 89.522,7415.871 88.63,7414.304 C88.63,7414.304 88.101,7413.319 87.097,7413.247 C87.097,7413.247 86.122,7413.234 87.029,7413.87 C87.029,7413.87 87.684,7414.185 88.139,7415.37 C88.139,7415.37 88.726,7417.2 91.508,7416.58 C91.513,7417.437 91.522,7418.245 91.522,7418.489 C91.522,7418.76 91.338,7419.077 90.839,7418.982 C86.865,7417.627 84,7413.783 84,7409.253 C84,7403.59 88.478,7399 94,7399"
                            id="github-[#142]"
                          >
                          </path>
                        </g>
                      </g>
                    </g>
                  </g>
                </svg>
              </div>
              <div class="relative block overflow-hidden">
                <span
                  class="inline-block transition-transform duration-300 group-hover:-translate-y-full text-lg font-textSemiBold text-gray-50"
                  >Code</span
                >
                <span
                  class="absolute left-0 transition-transform duration-300 translate-y-full group-hover:translate-y-0 text-lg font-textSemiBold text-gray-50"
                  >Code</span
                >
              </div>
            </a>
            <a>
              <div>
                <span>See in Detail</span>
                <span>See in Detail</span>
              </div>

              <div class="relative block overflow-hidden">
                <Image
                  src={rightArrowIcon}
                  alt="right arrow icon"
                  class="inline-block ml-[2px] transition-transform duration-300 group-hover:translate-x-full text-lg"
                />
                <Image
                  src={rightArrowIcon}
                  alt="right arrow icon"
                  class="absolute left-0 top-0 transition-transform duration-300 -translate-x-full group-hover:translate-x-0 text-lg"
                />
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>
